h3 {
	color: blue;
	margin-left: 50px;
}
h2 {
	color: green;
}
.member {
	font-size: 25px;
	color: goldenrod;
}
.role {
	font-size: 20px;
	color: black;
}
p{
	font-weight: bold;
	color: red;
	font-size: 30px;
	font-style: italic;
}
h1{
	color: brown;
}